---
import data from '../../data.json';

import Layout from '../layouts/default.astro';

import WorkExperience from '../components/work-experience.astro';
import Education from '../components/curriculum/education.astro';
import Course from '../components/curriculum/course.astro';
import Sidebar from '../components/curriculum/sidebar.astro';
import CurriculumSection from '../components/curriculum/section.astro';
---

<Layout>
  <main
    class='max-w-screen-xl mx-auto flex flex-col gap-4 p-4 lg:flex-row print:[print-color-adjust:exact] print:p-0 print:flex-row print:text-sm'
  >
    <div
      class='space-y-6 order-2 flex-grow lg:py-4 lg:order-first print:pr-4 print:pt-4 print:space-y-3'
    >
      <CurriculumSection title='Sobre mí'>
        <p class='text-gray-600 dark:text-gray-400'>
          {data.information.description}
        </p>
      </CurriculumSection>
      <CurriculumSection title='Experiencia laboral'>
        <ol class='space-y-6 print:space-y-2'>
          {data.work_experience.map((we) => <WorkExperience data={we} />)}
        </ol>
      </CurriculumSection>
      <CurriculumSection title='Formación académica'>
        <div class='space-y-3 print:space-y-1'>
          {data.education.map((e) => <Education education={e} />)}
        </div>
      </CurriculumSection>
      <CurriculumSection title='Cursos'>
        <div class='space-y-3 print:space-y-1'>
          {data.courses.map((c) => <Course course={c} />)}
        </div>
      </CurriculumSection>
      <CurriculumSection title='Conocimientos'>
        <div class='grid gap-2 md:grid-cols-3'>
          <section>
            <h3 class='font-bold text-lg text-center print:text-sm print:mb-0'>
              Backend
            </h3>
            <div class='space-y-2 print:text-xs'>
              {
                Object.entries(data.skills['backend']).map(([k, v]) => (
                  <article>
                    <h4 class='font-bold'>{k}</h4>
                    <p>
                      {v
                        .sort((s1, s2) => s2.level - s1.level)
                        .map((s) => s.name)
                        .join(', ')}
                    </p>
                  </article>
                ))
              }
            </div>
          </section>
          <section>
            <h3 class='font-bold text-lg text-center print:text-sm print:mb-0'>
              Frontend
            </h3>
            <div class='space-y-2 print:text-xs'>
              {
                Object.entries(data.skills['frontend']).map(([k, v]) => (
                  <article>
                    <h4 class='font-bold'>{k}</h4>
                    <p>
                      {v
                        .sort((s1, s2) => s2.level - s1.level)
                        .map((s) => s.name)
                        .join(', ')}
                    </p>
                  </article>
                ))
              }
            </div>
          </section>
          <section>
            <h3 class='font-bold text-lg text-center print:text-sm print:mb-0'>
              Extras
            </h3>
            <div class='space-y-2 print:text-xs'>
              {
                Object.entries(data.skills['others']).map(([k, v]) => (
                  <article>
                    <h4 class='font-bold'>{k}</h4>
                    <p>
                      {v
                        .sort((s1, s2) => s2.level - s1.level)
                        .map((s) => s.name)
                        .join(', ')}
                    </p>
                  </article>
                ))
              }
            </div>
          </section>
        </div>
      </CurriculumSection>
    </div>
    <Sidebar
      information={data.information}
      socials={data.socials}
      languages={data.languages}
      competences={data.competences}
    />
  </main>
</Layout>
