---
import data from '../../data.json';
import Hero from '../components/Hero.astro';
import Header from '../components/Header.astro';
import Skill from '../components/Skill.astro';
import Project from '../components/Project.astro';
import Footer from '../components/Footer.astro';
---

<html lang='es'>
	<head>
		<meta charset='utf-8' />
		<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
		<meta name='viewport' content='width=device-width' />
		<meta name='generator' content={Astro.generator} />
		<title>Portafolio de Andrés</title>
		<script src='../ts/darkMode.ts'></script>
	</head>
	<body class='bg-slate-100 dark:bg-gray-800 text-gray-800 dark:text-white'>
		<Header />
		<main class='container mx-auto px-2 lg:px-0'>
			<Hero data={data.information} />
			<section id='skills' class='mb-4'>
				<h1 class='font-bold text-2xl pb-4 text-center'>Habilidades</h1>
				<div class='grid gap-2 grid-cols-2'>
					{
						Object.entries(data.skills).map(([k, v]) => (
							<div class='rounded-lg col-span-2 lg:col-span-1 border-2 py-2 px-4 border-gray-300 bg-gray-200 dark:border-gray-700 dark:bg-gray-900'>
								<b class='mb-4 block text-center'>{k}</b>
								<div class='flex justify-evenly flex-wrap gap-4'>
									{v
										.sort((s1, s2) => s2.level - s1.level)
										.map((s) => (
											<Skill data={s} />
										))}
								</div>
							</div>
						))
					}
				</div>
			</section>
			<section id='projects' class='mb-4'>
				<h1 class='font-bold text-2xl pb-4 text-center'>Proyectos</h1>
				<div class='flex justify-center flex-wrap'>
					{data.projects.map((p) => <Project data={p} />)}
				</div>
			</section>
		</main>
		<Footer />
	</body>
</html>
